<section class="admin-dashboard-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body with-background">        
          <i class="fa fa-tree fa-2x"></i>
          <h2 class="timer count-title count-number"><%= @products_count %> </h2>
          <p class="count-text ">Total Products</p>      
           <%= link_to 'View All', [:admin, :products], class: 'btn btn-info' %>              
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body with-background">
        <i class="fa fa-list fa-2x"></i>
        <h2 class="timer count-title count-number"><%= @category_count %></h2>
        <p class="count-text ">Total Categories</p>
         <%= link_to 'View All', [:admin, :categories], class: 'btn btn-info' %>
        <div></div>
        </div>
      </div>
    </div>
  </div>
</section>


