.with-background {
  background-color: #f5f5f5;
  padding: 20px 0;
  border-radius: 5px;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #20b129;
}

.products {
  padding-bottom: 20px;
}